<body class="users"> 
    <h3>マイページ</h3><br>
    &emsp;ユーザー名　　：<%= @user.username %><br>
    <% if @user.id == current_user.id %>
        &emsp;メールアドレス：<%= @user.email %><br><br>
        &emsp;<%= link_to "編集", edit_user_path(@user), class: "btn btn-success" %>
    <% end %>
</body>