/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
.fa-pizza-slice {
    color: rgb(240, 191, 87);
}

.navbar {
    background-color: #645fac;
}

.navbar .navbar-nav .nav-link {
    margin-right: 10px;
    color: white;
}

a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(197, 222, 245);
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
}

a:hover:after {
    transform: translate(0, 0);
}

input[type="date"] {
    border: 2px solid #0a0;
    /* 枠線 */
    border-radius: 0.4em;
    /* 角丸 */
    width: 15em;
    /* 横幅 */
}

input[type="text"] {
    border: 2px solid #0a0;
    /* 枠線 */
    border-radius: 0.4em;
    /* 角丸 */
    width: 15em;
    /* 横幅 */
}

input[type="search"] {
    border: 2px solid #0a0;
    /* 枠線 */
    border-radius: 0.4em;
    /* 角丸 */
    width: 15em;
    /* 横幅 */
}

input[type="email"] {
    border: 2px solid #0a0;
    /* 枠線 */
    border-radius: 0.4em;
    /* 角丸 */
    width: 15em;
    /* 横幅 */
}

input[type="password"] {
    border: 2px solid #0a0;
    /* 枠線 */
    border-radius: 0.4em;
    /* 角丸 */
    width: 15em;
    /* 横幅 */
}

.period {
	border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.4em;   /* 角丸 */
    width: 15em;             /* 横幅 */
}

html,body {
	height: 100%
}

body:after {
    /*擬似要素をつくる*/
    position: fixed;
    /*固定配置*/
    top: 0;
    left: 0;
    /*左上に固定*/
    width: 100%;
    height: 100%;
    /*画面全体を覆う*/
    content: "";
    background: linear-gradient(to bottom, #e1e6ec 0%, #0674f2 100%);
    /*正規のプロパティ*/
    opacity: 0.3;
    z-index: -1;
}

.table-bordered {
    border-color: rgb(177, 177, 182);
    text-align: center;
}

.sub-image {
	display:inline-block;
	width: 120px;
	height: 80px;
	background-image: url(99suzumet.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.fuga {
    display: inline-block;
}

.field_with_errors {
    background-color: #fcc;
}

.btn-outline-black:hover,
.btn-outline-black:not(:disabled):not(.disabled):active {
    background-color: rgb(80, 76, 73);
}

.navbar-brand {
    font-size: 40px;
    font-family: cursive;
}

.talker {
    position: relative;
    display: inline-block;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}

.talker:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -20px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}

.talker p {
    margin: 0;
    padding: 0;
}

.talker-top {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}

.talker-top:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
}

.talker-top p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width:481px) {
    .PC-left {
        width: 35%;
        float: left;
    }
    .PC-right {
        width: 65%;
        float: right;
    }
}

.btn {
	box-shadow: 3px 3px 3px gray, 0 -4px 5px -2px gray inset;
}

.del{
	display: inline-block;
    border: 2px solid rgb(170, 170, 0);  /* 枠線 */
	box-shadow: 3px 3px 3px gray;  /* 影 */
    border-radius: 0.4em;   /* 角丸 */
    padding: 6px 6px;             /* 横幅 */
	font-size: 18px;        /* 文字サイズ */
	text-align: center;      /* 文字位置 */
	cursor: pointer;     /* カーソル */
	background: #ffff00;    /* 背景色 */
	color: #000000;     /* 文字色 */
}

.del:hover{
	box-shadow: none;        /* カーソル時の影消去 */
	color: #000000;        /* 文字色 */
	background: #ffffff;   /* 背景色 */
}

#content {
    width: 100%;
    table-layout: fixed;
}

.tdata {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.center {
    text-align: center;
}

.titlee {
	color: rgb(48, 48, 163);
}

.right {
    text-align: right;
}

.users {
    background-color: rgb(112, 120, 223);
    background-image: url(fallback-gradient.svg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(112, 120, 223)), to(#98c0ed));
    background-image: -webkit-linear-gradient(left, rgb(112, 120, 223), #98c0ed);
    background-image: -moz-linear-gradient(left, rgb(112, 120, 223), #98c0ed);
    background-image: -o-linear-gradient(left, rgb(112, 120, 223), #98c0ed);
    background-image: linear-gradient(to right, rgb(112, 120, 223), #98c0ed);
    margin: 0px;
    overflow: hidden;
}

.today-image {
    background-position: bottom right;
    height: 50px;
    background-image: url(tomato.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: yurayura 2s linear infinite;
}

@keyframes yurayura {
    0% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(-7deg);
    }
}

.bird {
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    animation: moving 16s linear infinite;
}

.bird.-type_2 {
    animation-delay: 1s;
}

.bird.-type_2:before,
.bird.-type_2:after {
    animation-delay: -2s;
}

.bird.-type_3 {
    animation-delay: 3s;
}

@keyframes moving {
    0% {
        top: 47vh;
        left: -2vw;
    }
    25% {
        top: 51vh;
        left: 23vw
    }
    100% {
        top: 47vh;
        left: 101vw;
    }
}

.bird:before,
.bird:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    transform: rotate(-30deg);
    transform-origin: right bottom;
}

.bird:before {
    width: 100%;
    height: 1px;
    animation: leftWing 8s linear infinite;
}

.bird:after {
    width: 1px;
    height: 100%;
    animation: rightWing 8s linear infinite;
}

@keyframes leftWing {
    0% {
        transform: rotate(-30deg);
    }
    2% {
        transform: rotate(-110deg);
    }
    4% {
        transform: rotate(-30deg);
    }
    6% {
        transform: rotate(-110deg);
    }
    8% {
        transform: rotate(-30deg);
    }
    10% {
        transform: rotate(-110deg);
    }
    12% {
        transform: rotate(-30deg);
    }
    30% {
        transform: rotate(-30deg);
    }
    42% {
        transform: rotate(-35deg);
    }
    72% {
        transform: rotate(-35deg);
    }
    74% {
        transform: rotate(10deg);
    }
    76% {
        transform: rotate(-30deg);
    }
    78% {
        transform: rotate(-110deg);
    }
    80% {
        transform: rotate(-30deg);
    }
    82% {
        transform: rotate(-110deg);
    }
    84% {
        transform: rotate(-30deg);
    }
    86% {
        transform: rotate(-110deg);
    }
    88% {
        transform: rotate(-30deg);
    }
    90% {
        transform: rotate(-110deg);
    }
    92% {
        transform: rotate(-30deg);
    }
    94% {
        transform: rotate(-110deg);
    }
    96% {
        transform: rotate(-30deg);
    }
    98% {
        transform: rotate(-110deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes rightWing {
    0% {
        transform: rotate(30deg);
    }
    2% {
        transform: rotate(110deg);
    }
    4% {
        transform: rotate(30deg);
    }
    6% {
        transform: rotate(110deg);
    }
    8% {
        transform: rotate(30deg);
    }
    10% {
        transform: rotate(110deg);
    }
    12% {
        transform: rotate(30deg);
    }
    30% {
        transform: rotate(30deg);
    }
    42% {
        transform: rotate(35deg);
    }
    72% {
        transform: rotate(35deg);
    }
    74% {
        transform: rotate(0deg);
    }
    76% {
        transform: rotate(30deg);
    }
    78% {
        transform: rotate(110deg);
    }
    80% {
        transform: rotate(30deg);
    }
    82% {
        transform: rotate(110deg);
    }
    84% {
        transform: rotate(30deg);
    }
    86% {
        transform: rotate(110deg);
    }
    88% {
        transform: rotate(30deg);
    }
    90% {
        transform: rotate(110deg);
    }
    92% {
        transform: rotate(30deg);
    }
    94% {
        transform: rotate(110deg);
    }
    96% {
        transform: rotate(30deg);
    }
    98% {
        transform: rotate(110deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

#table-bordered {
    border-color: rgb(32, 4, 66);
}

.strong {
    background-color: #bdc3fc;
}

th.strong {
    background-color: #bdc3fc;
}

.hiduke {
    color: #deb887;
}

.today {
    position: relative;
    display: inline-block;
    height: 54px;
    margin-left: 30px;
    padding: 1rem 2rem 1rem 3rem;
    color: #fff;
    background: #ffc0cd;
}

.today::before {
    position: absolute;
    top: 0;
    left: -30px;
    content: '';
    border-width: 24px 30px 32px 0;
    border-style: solid;
    border-color: transparent #ffc0cd transparent transparent;
}

.today::after {
    position: absolute;
    top: calc(50% - 7px);
    left: -5px;
    width: 14px;
    height: 14px;
    content: '';
    border-radius: 50%;
    background: #fff;
}

.Sub {
    color: #4169e1;
}

$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

/* Animations */

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: $bg-width $bg-height;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: $bg-width $bg-height;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: $bg-width $bg-height;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: $bg-width $bg-height;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: $bg-width $bg-height;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: $bg-width $bg-height;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: $bg-width $bg-height;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: $bg-width $bg-height;
    }
}

body {
    /* img size is 50x50 */
    background: url($bg-url) repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .0s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .0s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .0s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .0s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.oneline{
    opacity: 1;
    overflow: hidden;
    transition: all .3s ease-in;
}
.oneline.is-hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    border: 0px none;
    overflow: hidden; 
    display: none;
}
.list-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.list-btn.is-btn-hidden{
  display:none;
}
.list-btn button {
    background-color: #333;
  color:#fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    height: 32px;
    line-height: 32px;
    width: 120px;
}
