/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap"; 

.fa-pizza-slice {
	color:rgb(240, 191, 87);
}

.navbar{
	background-color: #a2c1e6 30%;
}

.navbar .navbar-nav .nav-link {
	margin-right: 10px;
    color: black;
}

a {
	display: inline-block; 
	position: relative; 
	overflow: hidden; 
	text-decoration: none;
}

a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #000;
	transform: translate(-100%, 0);
	transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s; 
	content: "";
}

a:hover:after {
	transform: translate(0, 0);
}


input[type="date"] {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.4em;   /* 角丸 */
    width: 15em;             /* 横幅 */
}

input[type="text"] {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.4em;   /* 角丸 */
    width: 15em;             /* 横幅 */
}

input[type="search"] {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.4em;   /* 角丸 */
    width: 15em;             /* 横幅 */
}

input[type="email"] {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.4em;   /* 角丸 */
    width: 15em;             /* 横幅 */
}

input[type="password"] {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.4em;   /* 角丸 */
    width: 15em;             /* 横幅 */
}

html,body {
	height: 100%
}
  
body:after {/*擬似要素をつくる*/
	position: fixed;/*固定配置*/
	top: 0; left: 0;/*左上に固定*/
	width: 100%; height: 100%;/*画面全体を覆う*/
	content: "";
	background: linear-gradient(to bottom, #e1e6ec 0%, #0674f2 100%);/*正規のプロパティ*/
	opacity: 0.3;
	z-index: -1;
}

.table-bordered {
	border-color: rgb(177, 177, 182);
	text-align: center;
}

.sub-image {
	display:inline-block;
	width: 60px;
	height: 40px;
	background-image: url(99suzume.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.fuga {
	display: inline-block;
}

.field_with_errors {
	background-color: #fcc;
}

.btn-outline-black:hover, .btn-outline-black:not(:disabled):not(.disabled):active {
	background-color: rgb(80, 76, 73);
}

.navbar-brand {
	font-size: 40px;
	font-family: cursive;
}

footer{
    bottom: 0;
    background-color: #92bae7 30%;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 30px;
}

.talker {
	position: relative;
	display: inline-block;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: #e0edff;
}
  
.talker:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -20px;
	border: 15px solid transparent;
	border-right: 15px solid #e0edff;
}
  
.talker p {
	margin: 0;
	padding: 0;
}

@media screen and (min-width:481px) {
	.PC-left {
		width:35%; 
		float:left;
	}

	.PC-right {
		width:65%; 
		float:right;
	}
}

.btn {
	box-shadow: 3px 3px 3px gray, 0 -4px 5px -2px gray inset;
} 

#content {
    width: 100%;
	table-layout: fixed;
}

.tdata {
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.center {
	text-align: center;
}

.title {
	color: rgb(48, 48, 163);
}

.right {
	text-align: right;
}

.fuwafuwa {
	animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
	background: url(https://tsukatte.com/wp-content/uploads/2019/07/eraser.png) repeat center center / 60px auto;
	display: inline-block; transition: 1.5s ease-in-out; width: 70px;
	height: 70px;
	margin-top: 15px;
}

@keyframes fuwafuwa { 
	0% {
		transform:translate(0, 0) rotate(-7deg); 
	}
	50% {
		transform:translate(0, -7px) rotate(0deg);
	} 
	100% {
		transform:translate(0, 0) rotate(7deg); 
		}
	}

.users {
	background-color: rgb(112, 120, 223);
	background-image: url(fallback-gradient.svg);
	background-image: -webkit-gradient(linear, left top, right top, from(rgb(112, 120, 223)), to(#98c0ed));
	background-image: -webkit-linear-gradient(left, rgb(112, 120, 223), #98c0ed);
	background-image: -moz-linear-gradient(left, rgb(112, 120, 223), #98c0ed);
	background-image: -o-linear-gradient(left, rgb(112, 120, 223), #98c0ed);
	background-image: linear-gradient(to right, rgb(112, 120, 223), #98c0ed);
	margin: 0px;
	overflow: hidden;
}

.today-image {
	background-position: bottom right;
	height: 50px;
	background-image: url(tomato.jpg);
	background-repeat: no-repeat;
	background-size: contain ;
	animation: yurayura 2s linear infinite;
}
	
@keyframes yurayura {
	0%{
		transform: rotate(7deg);
	}
	100%{
		transform: rotate(7deg);
	}
	50%{
		transform: rotate(-7deg);
	}
}

.bird {
	position: absolute;
	width: 7px;
	height: 7px;
	transform: rotate(45deg);
	animation: moving 16s linear infinite;
}
	
.bird.-type_2 {
	animation-delay: 1s;
}
.bird.-type_2:before,
.bird.-type_2:after {
animation-delay: -2s;
}
	
.bird.-type_3 {
animation-delay: 3s;
}

@keyframes moving {
0% {
	top: 47vh;
	left: -2vw;
}
25% {
	top: 51vh;
	left: 23vw
}
100% {
	top: 47vh;
	left: 101vw;
}
}

.bird:before, .bird:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: black;
	transform: rotate(-30deg);
	transform-origin: right bottom;
}

.bird:before {
	width: 100%;
	height: 1px;
	animation: leftWing 8s linear infinite;
}
.bird:after {
	width: 1px;
	height: 100%;
	animation: rightWing 8s linear infinite;
}

@keyframes leftWing {
	0%   { transform: rotate(-30deg); }
	2%   { transform: rotate(-110deg); }
	4%   { transform: rotate(-30deg); }
	6%   { transform: rotate(-110deg); }
	8%   { transform: rotate(-30deg); }
	10%  { transform: rotate(-110deg); }
	12%  { transform: rotate(-30deg); }
	30%  { transform: rotate(-30deg); }
	42%  { transform: rotate(-35deg); }
	72%  { transform: rotate(-35deg); }
	74%  { transform: rotate(10deg); }
	76%  { transform: rotate(-30deg); }
	78%  { transform: rotate(-110deg); }
	80%  { transform: rotate(-30deg); }
	82%  { transform: rotate(-110deg); }
	84%  { transform: rotate(-30deg); }
	86%  { transform: rotate(-110deg); }
	88%  { transform: rotate(-30deg); }
	90%  { transform: rotate(-110deg); }
	92%  { transform: rotate(-30deg); }
	94%  { transform: rotate(-110deg); }
	96%  { transform: rotate(-30deg); }
	98%  { transform: rotate(-110deg); }
	100% { transform: rotate(-30deg); }
}

@keyframes rightWing {
	0%   { transform: rotate(30deg); }
	2%   { transform: rotate(110deg); }
	4%   { transform: rotate(30deg); }
	6%   { transform: rotate(110deg); }
	8%   { transform: rotate(30deg); }
	10%  { transform: rotate(110deg); }
	12%  { transform: rotate(30deg); }
	30%  { transform: rotate(30deg); }
	42%  { transform: rotate(35deg); }
	72%  { transform: rotate(35deg); }
	74%  { transform: rotate(0deg); }
	76%  { transform: rotate(30deg); }
	78%  { transform: rotate(110deg); }
	80%  { transform: rotate(30deg); }
	82%  { transform: rotate(110deg); }
	84%  { transform: rotate(30deg); }
	86%  { transform: rotate(110deg); }
	88%  { transform: rotate(30deg); }
	90%  { transform: rotate(110deg); }
	92%  { transform: rotate(30deg); }
	94%  { transform: rotate(110deg); }
	96%  { transform: rotate(30deg); }
	98%  { transform: rotate(110deg); }
	100% { transform: rotate(30deg); }
}

#table-bordered {
	border-color: rgb(32, 4, 66);
}

.strong {
	background-color: #bdc3fc;
}

td.strong {
	background-color: #bdc3fc;
}

